@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');


a,a:hover {
  -webkit-transition: .3s all ease;
  font-family: 'Comfortaa', cursive;
  font-size: medium;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none !important;
}

h1 {
  padding: 2.5rem;
}

.link {
  color: #DFFF00; 
}

.link:hover {
  color: #CECECE;
}

div {
  font-family: 'Comfortaa', cursive;
  font-size: medium;
}

.hidden {
  overflow: hidden;
}

.visible {
  overflow: scroll;
}

.menu__arrow {
  transform: var(--transform);
  transition: transform .5s;
}

.arrow {
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(90deg);
}

.menuUp:hover {
  color: #CECECE;
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(-180deg);
}

.menuUp {
  color: #DFFF00;
  padding: 0.313rem 0.625rem 0.313rem 0.625rem;
  /* El tercero modifica la distancia de la linea del texto */
  position: relative;
  display: block;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: scale(100%);
}

.menuUp2:hover {
  color: #CECECE;
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(90deg);
}

.menuUp2 {
  text-decoration: none;
  color: #DFFF00;
  /*padding: 0.313rem 0.625rem 0.313rem 0rem;*/
  /* El tercero modifica la distancia de la linea del texto */
  position: relative;
  display: block;
  transform: scale();
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(0deg);
}

.subMenu {
  color: #DFFF00;
}

.subMenu:hover {
  color: #CECECE;
}

.subMenuOculto {
  color: #CECECE;
  display: none;
}

.subMenuVisible {
  color: #CECECE;
  display: contents;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  /*Donde inicia la linea */
  width: 100%;
  /*Donde termina la linea */
  height: 0.125rem;
  /*El ancho de la linea */
  background: linear-gradient(to right, #d1dd86, #d9ec5a, #DFFF00);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.menu2{
  padding-right: 0.625rem;
}

.menu a:hover::before {
  transform: scaleX(1);
}

.menu2 a::before {
  content: '';
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  /*Donde inicia la linea */
  width: 8.75rem;
  /*Donde termina la linea */
  height: 0.125rem;
  /*El ancho de la linea */
  background: linear-gradient(to right, #d1dd86, #d9ec5a, #DFFF00);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.menu2 a:hover::before {
  transform: scaleX(1);
}


.centrado {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Page content */
.content {
  padding: 1rem;
}

.imagenes {
  max-width: 75%;
  height: 6.25rem;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
}

.lds-grid div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #cef;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 0.5rem;
  left: 0.5rem;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 0.5rem;
  left: 30.125rem;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 0.5rem;
  left: 3.5rem;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 30.125rem;
  left: 0.5rem;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 30.125rem;
  left: 30.125rem;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 30.125rem;
  left: 3.5rem;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 3.5rem;
  left: 0.5rem;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 3.5rem;
  left: 30.125rem;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 3.5rem;
  left: 3.5rem;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.footer-48201 {
  padding: 2rem 0;
  background-color: #000;
  color: #DFFF00;  
}

.footer-48201 .footer-site-logo {
  font-size: 1.5rem;
  color: #DFFF00;  
}

.footer-48201 .nav-links li {
  margin-bottom: 0.625rem;
}

.footer-48201 .nav-links li a {
  color: #DFFF00;  
}

.footer-48201 .nav-links li a:hover {
  color: gray;
}

.footer-48201 .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 1.875rem;
  border: none;
  padding: 0.625rem 1.25rem;
}

.footer-48201 .social li {
  display: inline-block;
}

.footer-48201 .social li a {  
  color: #DFFF00;
  padding: 0.438rem;
}

.footer-48201 .social li a:hover {
  color: gray;
}

.footer-48201 .copyright {
  border-top: 0.063rem solid #404040;
}